<div class="row">
	<div class="col-xs-12">
		<h2><%= @question.title %></h2>
	</div>
	<br>
	<hr class="style1">
	
</div>

<div class="row" id="show-part">
	<div class="col-xs-8">
		<div class="row" id="question">
			<div class="col-xs-2" id="vote-question">

				<% if  @question.voted_by? current_user %>
						<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_vote_path(@question), method: :delete, class:"vote-touch" %></p>

						<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

						<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvotes_path(@question), method: :post, class:"vote-normal" %></p>
					<% else %>
						<% if  @question.unvoted_by? current_user %>
							<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_votes_path(@question), method: :post, class:"vote-normal" %></p>

							<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

							<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvote_path(@question), method: :delete, class:"vote-touch" %></p>
						<% else %>
								<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_votes_path(@question), method: :post, class:"vote-normal" %></p>

								<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

								<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvotes_path(@question), method: :post, class:"vote-normal" %></p>
						<% end %>
				<% end %>

				<br>
				
				<% if @question.favorite_by? current_user %>
					<p class="text-center"><%= link_to (fa_icon "star 2x"), question_favorite_path(@question), method: :delete, class:"fav-touch" %></p>
				<% else %>
					<p class="text-center"><%= link_to (fa_icon "star 2x"), question_favorites_path(@question), method: :post, class:"fav-normal" %></p>
				<% end %>

				<p class="text-center"><strong><%= @question.favorites.count %></strong></p>
				
			</div>

			<div class="col-xs-10" >
				<div class="col-xs-12" id="post-body">
					<p ><%= markdown(@question.body).html_safe %></p>
				</div>
				
				<div class="col-xs-9" id="post-edit">
					<% if current_user == @question.user %>
						<%= link_to "Editar", edit_question_path(@question) %>
					<% else %>
						<p>Editar</p>
					<% end %>
					
				</div>

				<div class="col-xs-3" id="post-user">
					<p>Fecha</p>
					<p><%= @question.user.username %></p>
				</div>
				
				<hr class="style2">

				<% @question.comments.each do |coment| %>
					<div class="col-xs-12" id="comments">
						<p><%= coment.body %> -- <%= coment.user.username %>
							<% if current_user == coment.user %>
							    <%= link_to (fa_icon "trash-o"), [coment.question, coment], :method => :delete, class:"delete" %>
							<% end %>
						</p>
					</div>
				<% end %>


				<div class="col-xs-12" id="form-comment">
					
					<div class="try" style="padding-top:10px;"><a name="link-comment" id="fun1" href="">Comentar</a>
					</div>

					<%= form_for [@question, @question.comments.new] do |com| %>
						<div class="form-group">
							<%= com.text_area :body, rows:"3", class: "form-control", id:"text", style:"display:none", placeholder: "Agrega tu Comentario" %>
						</div>
						<div class="text-right"><%= com.submit "Comentar", class:"btn",:name => 'submit', style:"display:none" %></div>		
					<% end %>
					
				</div>
			</div>		
		</div>

		<br>

		<div class="row" id="answer">
			<div class="col-xs-12">
				<h4> <%= @question.answers.count %> Answers</h4>
			</div>
			<hr class="style1">

			<% @question.answers.each do |answer| %>
				<div class="col-xs-2" id="answer-votes">
					<% if  answer.voted_by? current_user %>
							<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_answer_vote_path(@question, answer), method: :delete, class:"vote-touch" %></p>

							<h3 class="text-center"><%= answer.votes.count - answer.unvotes.count%></h3>

							<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_answer_unvotes_path(@question, answer), method: :post, class:"vote-normal" %></p>
						<% else %>
							<% if  answer.unvoted_by? current_user %>
								<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_answer_votes_path(@question, answer), method: :post, class:"vote-normal" %></p>

								<h3 class="text-center"><%= answer.votes.count - answer.unvotes.count%></h3>

								<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_answer_unvote_path(@question, answer), method: :delete, class:"vote-touch" %></p>
							<% else %>
									<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_answer_votes_path(@question, answer), method: :post, class:"vote-normal" %></p>

									<h3 class="text-center"><%= answer.votes.count - answer.unvotes.count%></h3>

									<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_answer_unvotes_path(@question, answer), method: :post, class:"vote-normal" %></p>
							<% end %>
					<% end %>				
				</div>

				<div class="col-xs-10" id="answer-body">
					<div class="col-xs-12" id="post-body">
						<p ><%= markdown(answer.body).html_safe %></p>
					</div>
					
					<div class="col-xs-9" id="post-edit">
						<% if current_user == answer.user %>
							<%= link_to "Editar" %>
						<% else %>
							<p>Editar</p>
						<% end %>
						
					</div>

					<div class="col-xs-3" id="post-user">
						<p>Fecha</p>
						<p>Por <%= answer.user.username %></p>
					</div>

					<% answer.comments.each do |coment| %>
					
						<div class="col-xs-12" id="comments">
							<p><%= coment.body %> -- <%= coment.user.username %>
								<% if current_user == coment.user %>
								    <%= link_to (fa_icon "trash-o"), [@question, coment.answer, coment], :method => :delete, class:"delete" %>
								<% end %>
							</p>
						</div>
					<% end %>


					<div class="col-xs-12" id="form-comment">	


						<%= form_for [@question, answer, answer.comments.new] do |com| %>
							<div class="form-group">
								<%= com.text_area :body, rows:"1", class: "form-control", id:"text", placeholder: "Agrega tu Comentario" %>
							</div>
							<div class="text-right"><%= com.submit "Comentar", class:"btn" %></div>		
						<% end %>
						
					</div>
				</div>
				
				<hr class="style2">

			<% end %>
			
			<div class="col-xs-12" id="form-answer">

				<h4>Tu Respuesta</h4>
				<div class="sugerencia">
					<p>Recuerda que puedes usar Markdown en tus respuestas, si quieres mas info de markdown, <%= link_to "entra aquí.", "https://learn.getgrav.org/content/markdown", :target => "_blank"%></p>
				</div>
				<%= form_for [@question, @question.answers.new] do |ans| %>
					<div class="form-group">
						<%= ans.text_area :body, rows:"10", class: "form-control", id:"text-area" %>
					</div>
					<div class="text-right"><%= ans.submit "Comentar", class:"btn" %></div>		
				<% end %>
			</div>
		</div>

	</div>
	

	<div class="col-xs-4" id="info">
		<h4>Preguntado: </h4>
		<h4>Por: <%= @question.user.username %></h4>
		<h4>Visitas: <%= @question.views %> </h4>
		<br>
		<% if current_user == @question.user %>
			<h3 class="text-right"><%= link_to (fa_icon "trash-o"), @question, :method => :delete, class:"delete", data: {confirm: "¿Estas Seguro que Deseas Eliminar el Post?"} %></h3>
		<% end %>	
	</div>
</div>
<script>
	$('a[id="fun1"]').click(function(){
	  // update this selector4
		   $('a[name="link-comment"]').hide();
		   $('input[name="submit"]').show();
		   $('textarea[id="text"]').show();
	    return false;
	});



	$('textarea').keyup(function (e) {
	    var rows = $(this).val().split("\n");
	    $(this).prop('rows', rows.length);
	});
</script>



