<div class="row">
	<div class="col-xs-12">
		<h2><%= @question.title %></h2>
	</div>
	<br>
	<hr class="style1">
	
</div>

<div class="row" id="show-part">
	<div class="col-xs-7">
		<div class="row">
			<div class="col-xs-2" id="vote-question">

				<% if  @question.voted_by? current_user %>
						<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_vote_path(@question), method: :delete, class:"vote-touch" %></p>

						<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

						<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvotes_path(@question), method: :post, class:"vote-normal" %></p>

					<% else %>

						<% if  @question.unvoted_by? current_user %>
							<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_votes_path(@question), method: :post, class:"vote-normal" %></p>

							<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

							<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvote_path(@question), method: :delete, class:"vote-touch" %></p>

						<% else %>
								<p class="text-center"><%= link_to (fa_icon "caret-up 3x"), question_votes_path(@question), method: :post, class:"vote-normal" %></p>

								<h3 class="text-center"><%= @question.votes.count - @question.unvotes.count%></h3>

								<p class="text-center"><%= link_to (fa_icon "caret-down 3x"), question_unvotes_path(@question), method: :post, class:"vote-normal" %></p>
						<% end %>


				<% end %>

				

				<br>

				<h3 class="text-center">star</h3>
			</div>

			<div class="col-xs-10" id="question">
				<div class="col-xs-12" id="post-body">
					<p ><%= markdown(@question.body).html_safe %></p>
				</div>
				<hr>
				<div class="col-xs-9" id="post-edit">
					<%= link_to "Editar", edit_question_path(@question) %>
				</div>

				<div class="col-xs-3" id="post-user">
					<p>Fecha</p>
					<p><%= @question.user.username %></p>
				</div>
			</div>		
		</div>
	</div>

	<div class="col-xs-5">
		
	</div>
</div>