<% unless flash.blank? %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="mensajes">
        <%= render partial: 'layouts/messages', flash: flash %>
      </div>
    </div>
  </div>
<% end %>

<div class="row" id="usuario-info">
    <ul class="nav nav-tabs ">
        <li class="<%= params[:tab].present? ? params[:tab] == "profile" ? "active" : "" : "active" %>"><%= link_to "Perfil", user_path(@user_show.username, tab:"profile") %></li>
        <li class="<%=  params[:tab] == "activity" ? "active" : "" %>"><%= link_to "Actividad", user_path(@user_show.username, tab:"activity") %></li>
        <% if current_user == @user_show %>
        	<li class="<%=  params[:tab] == "edit" ? "active" : "" %>"><%= link_to "Editar",  edit_user_path(@user_show.username) %></li>
        <% end %>
    </ul>
    <div class="tab-content">
    	<% if params[:tab] == "profile" || params[:tab] == nil  %>
	    	<div id="first" class="tab-pane fade in active">
	        	<div class="col-xs-3 text-center" id="image-rep">
	        		<% if @user_show.image.exists? %>
	        		  <%= image_tag @user_show.image.url, width:"80%" %>
	        		<% else %>
	        		  <%= image_tag (Gravatar.new("#{@user_show.email}").image_url), width:"80%" %>
	        		<% end %> 
	        		
	        		<h4>Reputación: <%= @user_show.questions.count + @user_show.answers.count + @user_show.votes.count + @user_show.unvotes.count %></h4>
	        	</div>
	        	<div class="col-xs-6" id="info-pri">
	        		<h2><strong><%= @user_show.name %></strong></h2>
	        		<h3><%= @user_show.info %></h3>
	        		<% if @user_show.about.present? %>
	        			<p><%= markdown(@user_show.about)%></p>
	        			<% else %>
	        			<% if current_user == @user_show%>
	        				<p><%= link_to "Agrega una descripción tuya",edit_user_path(@user_show.username)  %></p>
	        			<% end %>
	        			
	        		<% end %>
	        		
	        	</div>
	        	<div class="col-xs-3" id="info-seg">
	        		<div class="col-xs-6 text-center" >
	        			<p><strong><%= @user_show.questions.count %></strong></p>
	        			<p>Preguntas</p>
	        		</div>
	        		<div class="col-xs-6 text-center">
	        			<p><strong><%= @user_show.answers.count %></strong></p>
	        			<p>Respuestas</p>
	        		</div>
	        		
					<div class="col-xs-12 co">
						<p><%= fa_icon "envelope-o" %> Email: <%= @user_show.email %></p>
	        			<p><%= fa_icon "undo" %> Miembro desde hace <%= time_ago_in_words(@user_show.created_at) %></p> 
	        			<% if @user_show.github.present? %>
	        				<p><%= fa_icon "github" %> <%= @user_show.github %></p>
	        			<% end %>
	        			<% if @user_show.twitterurl.present? %>
	        				<p><%= fa_icon "twitter" %> <%= @user_show.twitterurl %></p>
	        			<% end %>
					</div>        		     			        		
	        	</div>
	        </div>
	    <% else %>
	    	<div id="activity" class="tab-pane fade in active">
	    	<br>
	    	<br>
	    		<div class="col-xs-6" >
	    			<h4><%= fa_icon "question-circle-o -fa-lg" %> Preguntas</h4>
	    			<hr class="style2">
	    			<% if @user_show.questions.empty? %>
	    				<% if @user_show == current_user %>
	    					<h4 class="text-center">Aun no tienes preguntas, <strong><%= link_to "haz una aquí.", new_question_path %></strong></h4>
						<% else %>
							<h4 class="text-center"><strong>El usuario aun no tiene preguntas publicadas.</strong> </h4>
	    				<% end %>
	    			<% else %>
						<% @user_show.questions.each do |question| %>
							<%= link_to question do %>
								<div class="row" id="preg">
									<div class="col-xs-2" id="views"><h4><%= question.views %></h4></div>
									<div class="col-xs-10" id="title"><h4><%= question.title %></h4></div>
								</div>
							<% end %>
						<% end %>
	    			<% end %>
					<br>

					<h4><%= fa_icon "check-circle-o fa-lg" %> Respuestas</h4>
	    			<hr class="style2">
	    			<% if @user_show.answers.empty? %>
	    				<% if @user_show == current_user %>
	    					<h4 class="text-center">Aun no tienes respuestas.</h4>
						<% else %>
							<h4 class="text-center"><strong>El usuario aún no ha respondido a ninguna pregunta.</strong> </h4>
	    				<% end %>
	    				
	    			<% else %>
		    			<% @user_show.answers.each do |answer| %>
		    				<%= link_to answer.question do %>
			    				<div class="row" id="preg">
			    				
			    					<div class="col-xs-2" id="views"><h4><%= answer.votes.count %></h4></div>
			    					<div class="col-xs-10" id="title"><h4><%= answer.question.title %></h4></div>
			    				</div>	
			    			<% end %>
		    			<% end %>
	    			<% end %>
	    			
	    		</div>
	    		<div class="col-xs-6" id="fav">
	    			<h4><%= fa_icon "star-o fa-lg" %> Favoritos</h4>
	    			<hr class="style2">
	    			<% if @user_show.favorites.empty? %>
	    				<% if @user_show == current_user %>
	    					<h4 class="text-center">Aun no tienes ninguna pregunta como favorita.</h4>
						<% else %>
							<h4 class="text-center"><strong>El usuario aun no ha respondido a ninguna pregunta.</strong> </h4>
	    				<% end %>

	    			<% else %>
		    			<% @user_show.favorites.each do |fav| %>
		    				<%= link_to fav.question do %>
			    				<div class="row" id="preg">
			    				
			    					<div class="col-xs-2" id="views"><h4><%= fav.question.votes.count %></h4></div>
			    					<div class="col-xs-10" id="title"><h4><%= fav.question.title %></h4></div>
			    				</div>	
			    			<% end %>
		    			<% end %>
		    		<% end %>
	    		</div>
	    		<div class="col-xs-6">
	    			
	    		</div>
			</div>
    	<% end %>
        
    </div>
<div>